.navbar-style{
    height: 10%;
    width: 100%;
}

#logo{
    height: 55px;
    width: auto;
    float: left;
    margin-left: 5%;
    margin-top: 0.6%;
}

.navbar{
    width: 85%;
    height: 82px;
    float: right;
}

.navbar-nav{
    width: 75%;
}

.item-style{
    margin-right: 1.7%;
}

.link{
    margin-top: 20px;
    color: white;
    padding-bottom: -30px;
}

.link:hover{
    color: orangered;
    border-bottom: 3px solid orangered;
    margin-top: 20px;
    margin-bottom: -30px;
}

.teklif-al{
    background-color: orangered;
    border: none;
    border-radius: 25px;
    width: 120px;
    margin-top: 20px;
    margin-right: 1%;
}

a {
    color: white;
}

.responsive-button{
    display: none;
}

@media only screen and (max-width: 1317px) {
    .navbar{
        display: none;
    }

    .responsive-button{
        float: right;
        margin-right: 5%;
        margin-top: 1.2%;
        display: block;
    }

    .dropbtn {
        background-color: orangered;
        border-radius: 25px;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
      
    .dropbtn:hover, .dropbtn:focus {
        background-color: black;
        outline: 0;
    }
      
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: orangered;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 5px;
        border-radius: 25px;
        z-index: 8;
    }
      
    .dropdown-content a {
        color: whitesmoke;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
      
    .dropdown a:hover {background-color: black;}

    .show {display: block;}
}