@font-face {
    font-family: 'Source Sans Pro';
    src: url('subset-SourceSansPro-Bold.woff2') format('woff2'),
        url('subset-SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

